{% for item in basket_items %}
        <div>
            <img src="/media/{{ item.product.image }}" alt="{{ item.product.min_des}}">
            <span>{{ item.product.category.name }}</span>
            <span>{{ item.product.name }}</span>
            <span>{{ item.product.price }}</span>
            <input type="number" name="{{ item.pk }}" min="0", max="{{ item.quantity }}">
            <span>{{ item.cost }} &nbspруб</span>
            <button>
                <a href="{% url 'basket:remove' item.pk %}">
                    Удалить
                </a>
            </button>
        </div>
{% endfor %}
{% if basket_items %}
    В корзине {{ basket_items.0.total_quantity }} товаров общей стоимостью
                {{ basket_items.0.total_cost }} руб
{% endif %}