{% load staticfiles %}
{% block menu %}
    <a class="avatar" href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
    <ul class="menu">
        {% for li_menu in list_menu %}
            <li><a href='{% url li_menu.href %}' class="menu__link
            {% if request.resolver_match.url_name == li_menu.act or request.resolver_match.namespace == li_menu.namespace %}
                active__link
            {% endif %}">
                {{li_menu.name}}
            </a></li>
        {% endfor %}
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'auth:edit' %}" class="menu__link">
                    {{user.first_name|default:'Пользоваель'}}
                </a>
            </li>
        {% endif %}
        {% if user.is_superuser %}
            <li>
                <a href="{% url 'admin:users' %}">админка</a>
            </li>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'auth:logout' %}" class="menu__link">Выйти</a>
            {% else %}
                <a href="{% url 'auth:login' %}" class="menu__link">Войти</a>
            {% endif %}
        </li>
        <li><a href="#" class="menu__link"><img src="{% static 'img/search.svg' %}" alt="search"></a></li>
    </ul>
    <a href="{% url 'basket:view' %}">
        <span>
            {% if basket  %}
                <span>
                    {{ basket.0.total_cost|floatformat:0 }} руб.
                    ({{ basket.0.total_quantity }} шт.)
                </span>
            {% endif%}
        </span>
    </a>
{% endblock %}
