{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="shelf shelf1 shelf__max our_products_range">
		<div class="poster padding-site">
			<header class="title">
				{% include 'mainapp/includes/inc_menu.html' %}
			</header>
		</div>
		<div class="poster__content poster__content2">
			<p class="headline__title headline__max">Contact Us</p>
		</div>
	</div>

	<div class="shelf shelf2 shelf__min" style="margin-bottom:  120px">
		<div class="contact">
			<p class="fa-map-marker-alt__p"><i class="fas fa-map-marker-alt"></i></p>
			<p class="headline__contact">California</p>
			<ul class="contact__ul">
				<li class="contact__li">Phone:<br> <span class="cb">1900 - 1234 -5678</span></li>
				<li class="contact__li">Email:<br>   <span class="cb">info@interior.com</span></li>
				<li class="contact__li">Address:<br>  12 W 1st St, 90001 Los Angeles, California</li>
			</ul>
		</div>
		<div class="contact">
			<p class="fa-map-marker-alt__p"><i class="fas fa-map-marker-alt"></i></p>
			<p class="headline__contact">California</p>
			<ul class="contact__ul">
				<li class="contact__li">Phone:<br> <span class="cb">1900 - 1234 -5678</span></li>
				<li class="contact__li">Email:<br>   <span class="cb">info@interior.com</span></li>
				<li class="contact__li">Address:<br>  12 W 1st St, 90001 Los Angeles, California</li>
			</ul>
		</div>
		<div class="contact">
			<p class="fa-map-marker-alt__p"><i class="fas fa-map-marker-alt"></i></p>
			<p class="headline__contact">California</p>
			<ul class="contact__ul">
				<li class="contact__li">Phone:<br> <span class="cb">1900 - 1234 -5678</span></li>
				<li class="contact__li">Email:<br>   <span class="cb">info@interior.com</span></li>
				<li class="contact__li">Address:<br>  12 W 1st St, 90001 Los Angeles, California</li>
			</ul>
		</div>
	</div>
{% endblock %}
