{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="shelf shelf1 shelf__max" style=" background-image: url(/static/img/slider-img.jpg)">
		<div class="poster padding-site">
			<header class="title">
                {% include 'mainapp/includes/inc_menu.html' %}

			</header>
		</div>
		<div class="poster__content">
			<p class="mark mark-green">TRENDING</p>
			<p class="headline__max">Fishnet Chair</p>
			<p class="info">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
			<a href="{% url 'product' %}" class="button">ORDER US ></a>
		</div>

		<div class="slider__pagination">
			<a href="#" class="circle"></a>
			<a href="#" class="circle circle_active"></a>
			<a href="#" class="circle"></a>
		</div>
	</div>





	<div class="shelf shelf2  shelf__min">
		<div class="menu__shelf__min">
			<ul class="menu">
				<li><a class="headline__normal headline__menu active__link" href="#">Featured</a></li>
				<li><a class="headline__normal headline__menu" href="#">New</a></li>
			</ul>
			<a class="button__ghost" href="{% url 'products' %}">EXPLORE ALL ></a>
		</div>
		<div class="products">
			{% for product in products %}
				<div class="wrapper" style="background-image: url(/media/{{product.image}});">
					<div class="product__min">
						<a href="{% url 'product' %}" class="button button__min">></a>
						<p class="headline__min">{{product.name}}</p>
						<p class="info info__min">{{product.min_des}}</p>
					</div>
				</div>
			{% endfor %}
			<!--<div class="wrapper" style="background-image: url(/static/img/product-2.png);">-->
				<!--<div class="product__min">-->
					<!--<a href="#" class="button button__min">></a>-->
					<!--<p class="headline__min">Fishnet Chair</p>-->
					<!--<p class="info info__min">Seat and back with upholstery made of cold cure foam. </p>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="wrapper" style="background-image: url(/static/img/product-3.png);">-->
				<!--<div class="product__min">-->
					<!--<a href="#" class="button button__min">></a>-->
					<!--<p class="headline__min">Fishnet Chair</p>-->
					<!--<p class="info info__min">Seat and back with upholstery made of cold cure foam. </p>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="wrapper" style="background-image: url(/static/img/product-4.png);">-->
				<!--<div class="product__min">-->
					<!--<a href="#" class="button button__min">></a>-->
					<!--<p class="headline__min">Fishnet Chair</p>-->
					<!--<p class="info info__min">Seat and back with upholstery made of cold cure foam. </p>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>



	<div class="shelf shelf3 shelf__max2">
		<div class="product__max" style="background-image: url(/static/img/promo-img1.png);">
			<div class="poster__normal__content">
				<p class="mark mark-blue">EXCLUSIVE ></p>
				<p class="headline__normal">Fishnet Chair</p>
				<p class="info">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
				<a href="{% url 'product' %}" class="button">ORDER US > </a>
			</div>
		</div>
		<!--<div class="product__max" style="background-image: url(/static/img/promo-img2.png);">-->
			<!--<div class="poster__normal__content">-->
				<!--<p class="mark mark-blue">EXCLUSIVE ></p>-->
				<!--<p class="headline__normal">Fishnet Chair</p>-->
				<!--<p class="info ">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>-->
				<!--<a href="#" class="button">ORDER US ></a>-->
			<!--</div>-->
		<!--</div>-->
	</div>





	<div class="shelf shelf4 shelf__min">
		<div class="menu__shelf__min">
			<p class="headline__normal">Trending Products</p>
			<a class="button__ghost" href="{% url 'products' %}">EXPLORE ALL ></a>
		</div>
		<div class="products">
			<a href="{% url 'product' %}" class="product__normal" style="background-image: url(/static/img/product-11.png);"></a>
			<!--<a href="#" class="product__normal" style="background-image: url(/static/img/product-21.png);"></a>-->
			<!--<a href="#" class="product__normal" style="background-image: url(/static/img/product-31.png);"></a>-->
			<!--<a href="#" class="product__normal" style="background-image: url(/static/img/product-41.png);"></a>-->
			<!--<a href="#" class="product__normal" style="background-image: url(/static/img/product-5.png);"></a>-->
			<!--<a href="#" class="product__normal" style="background-image: url(/static/img/product-6.png);"></a>-->
		</div>
	</div>







	<div class="shelf shelf5 shelf__max" style=" background-image: url(/static/img/slider-img2.png)">
		<div class="poster__content">
			<p class="mark mark-red">HOT DEAL</p>
			<p class="headline__max">Fishnet Chair</p>
			<p class="info">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
			<a href="{% url 'product' %}" class="button">ORDER US ></a>
		</div>

		<div class="slider__pagination">
			<a href="" class="circle"></a>
			<a href="" class="circle circle_active"></a>
			<a href="" class="circle"></a>
		</div>
	</div>





	<div class="shelf shelf6 shelf__min">
		<div class="product__max2" style="background-image: url(/static/img/product-1-lg.png);">
			<div class="poster__normal__content">
				<p class="mark mark-blue">EXCLUSIVE </p>
				<p class="headline__normal">Fishnet Chair</p>
				<p class="info">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
				<a href="{% url 'product' %}" class="button">ORDER US ></a>
			</div>
		</div>
		<div class="product__block">
			<div class="products">
				<a href="{% url 'product' %}" class="product__min2" style="background-image: url(/static/img/product-2-sm.png);"></a>
				<!--<a href="#" class="product__min2" style="background-image: url(/static/img/product-3-sm.png);"></a>-->
				<!--<a href="#" class="product__min2" style="background-image: url(/static/img/product-4-sm.png);"></a>-->
				<!--<a href="#" class="product__min2" style="background-image: url(/static/img/product-5-sm.png);"></a>-->
			</div>
		</div>
	</div>


	<div class="shelf shelf__app shelf__max" style=" background-image: url(/static/img/back-img.png)">
		<div class="poster__content">
			<p class="mark mark-app">MOBILE APP</p>
			<p class="headline__max">Find. Follow. Favorite.</p>
			<p class="info">Save your favorites and share your style.</p>
			<div class="buttons">
				<a href="#" class="button__app"><img src="/static/img/app-store.png" alt="app-store"></a>
				<a href="#" class="button__app"><img src="/static/img/google-play.png" alt="google-play"></a>
			</div>
		</div>
	</div>
{% endblock %}
