{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
			<div class="shelf shelf1 shelf__product" >
				<div class="poster_product padding-site">
					<header class="title">
						{% include 'mainapp/includes/inc_menu.html' %}
					</header>
				</div>
				<div class="product__menu">
					{% include 'mainapp/includes/inc_menu_product.html' %}
				</div>
			</div>

			{% for product in product_list %}
			<div class="product__max__shop shelf shelf__min ">
				<div class="photos__product">
					<a href="" ><img src="/media/{{ product.image }}" class="big__img" alt="product"></a>
					<div class="min__imgs">
						<a href="#" ><img src="/media/{{ product.image }}" class="min__img" alt="min product"></a>
						<a href="#" ><img src="/media/{{ product.image }}" class="min__img" alt="min product"></a>
						<a href="#" ><img src="/media/{{ product.image }}" class="min__img" alt="min product"></a>
					</div>
				</div>
				<div class="info__product__shop">
					<p class="name__product">{{ product.name }}</p>
					<p class="price"><span class="mark-price">{{ product.price }}</span> руб.</p>
					<p class="mark-red mark">Hot Deal</p>
					<a href="{% url 'basket:add' product.pk %}" class="button red__button">Купить></a>
					<div>
						<p class="text__product">{{ product.description }}</p>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="shelf shelf3 shelf__min">
				<div class="menu__shelf__min">
					<p class="headline__normal">Похожие</p>
					<a class="button__ghost" href="{% url 'mainapp:products_url:products' %}">EXPLORE ALL ></a>
				</div>
				<div class="products">
					{% for product in same_products %}
						<a href="{% url 'mainapp:product' product.pk %}" class="product__normal" style="background-image: url(/media/{{product.image}});"></a>
					{% endfor %}
				</div>
			</div>

{% endblock %}
