{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
			<div class="shelf shelf1 shelf__product" >
				<div class="poster padding-site">
					<header class="title">
						{% include 'mainapp/includes/inc_menu.html' %}
					</header>
				</div>
				<div class="product__menu">
					<ul class="menu">
						<li><a href="#" class="menu__product1 active__link1">ALL</a></li>
						<li><a href="#" class="menu__product1">HOME</a></li>
						<li><a href="#" class="menu__product1">OFFICE</a></li>
						<li><a href="#" class="menu__product1">FURNITURE</a></li>
						<li><a href="#" class="menu__product1">MODERN </a></li>
						<li><a href="#" class="menu__product1">CLASSIC</a></li>
					</ul>
				</div>
			</div>

			<div class="product__max__shop shelf shelf__min ">
				<div class="photos__product">
					<a href="" class="big__img"><img src="img/slider1.png" alt="product"></a>
					<div class="min__imgs">
						<a href="#" class="min__img"><img src="img/controll.png" alt="min product"></a>
						<a href="#" class="min__img"><img src="img/controll11.png" alt="min product"></a>
						<a href="#" class="min__img"><img src="img/controll2.png" alt="min product"></a>
					</div>
				</div>
				<div class="info__product__shop">
					<p class="name__product">Fishnet Chair</p>
					<p class="price">$<span class="mark-price">36.7</span>/sq</p>
					<p class="mark-red mark">Hot Deal</p>
					<a href="" class="button red__button">ORDER US ></a>
					<div>
						<p class="text__product">The majesty of Mountains - Ugmonk style.</p>
						<p class="text__product">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
						<p class="text__product"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
						<p class="text__product">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>
				</div>
			</div>
			

			<div class="shelf shelf3 shelf__min">
				<div class="menu__shelf__min">
					<p class="headline__normal">Trending Products</p>
					<a class="button__ghost" href="products.html">EXPLORE ALL ></a>
				</div>
				<div class="products">
					<a href="#" class="product__normal" style="background-image: url(img/product-11.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-21.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-31.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-41.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-5.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-6.png);"></a>
				</div>
			</div>

{% endblock %}
