<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
	<div class="container">
		
	

		<div class="shelfs">

			<div class="shelf shelf1 shelf__product" >
				<div class="poster padding-site">
					<header class="title">
						<a class="avatar" href="#"><img src="img/logo.svg" alt="logo"></a>
		                <ul class="menu">
		                    <li><a href="index.html" class="menu__link active__link">HOME</a></li>
		                    <li><a href="products.html" class="menu__link">PRODUCTS</a></li>
		                    <li><a href="#" class="menu__link">HISTORY</a></li>
		                    <li><a href="#" class="menu__link">SHOWROOM</a></li>
		                    <li><a href="contacts.html" class="menu__link">CONTACT</a></li>
		                    <li><a href="#" class="menu__link"><img src="img/search.svg" alt="search"></a></li>
		                </ul>
					</header>
				</div>
				<div class="product__menu">
					<ul class="menu">
						<li><a href="#" class="menu__product1 active__link1">ALL</a></li>
						<li><a href="#" class="menu__product1">HOME</a></li>
						<li><a href="#" class="menu__product1">OFFICE</a></li>
						<li><a href="#" class="menu__product1">FURNITURE</a></li>
						<li><a href="#" class="menu__product1">MODERN </a></li>
						<li><a href="#" class="menu__product1">CLASSIC</a></li>
					</ul>
				</div>
			</div>

			<div class="product__max__shop shelf shelf__min ">
				<div class="photos__product">
					<a href="" class="big__img"><img src="img/slider1.png" alt="product"></a>
					<div class="min__imgs">
						<a href="#" class="min__img"><img src="img/controll.png" alt="min product"></a>
						<a href="#" class="min__img"><img src="img/controll11.png" alt="min product"></a>
						<a href="#" class="min__img"><img src="img/controll2.png" alt="min product"></a>
					</div>
				</div>
				<div class="info__product__shop">
					<p class="name__product">Fishnet Chair</p>
					<p class="price">$<span class="mark-price">36.7</span>/sq</p>
					<p class="mark-red mark">Hot Deal</p>
					<a href="" class="button red__button">ORDER US ></a>
					<div>
						<p class="text__product">The majesty of Mountains - Ugmonk style.</p>
						<p class="text__product">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
						<p class="text__product"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
						<p class="text__product">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					</div>
				</div>
			</div>
			

			<div class="shelf shelf3 shelf__min">
				<div class="menu__shelf__min">
					<p class="headline__normal">Trending Products</p>
					<a class="button__ghost" href="products.html">EXPLORE ALL ></a>
				</div>
				<div class="products">
					<a href="#" class="product__normal" style="background-image: url(img/product-11.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-21.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-31.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-41.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-5.png);"></a>
					<a href="#" class="product__normal" style="background-image: url(img/product-6.png);"></a>
				</div>
			</div>


		</div>


		<footer class="footer">
			<div class="footer__div">
			<div class="contact_us__info">
				<p class="headline__footer">CONTACT US</p>
				<p class="text__st">132A Bridge Road Richmond VIC Australia.</p>
				<p class="text__st">Talk to us on 1300 132 info@interior.com</p>
			</div>

			<div class="useful_information__wrapper">
			<p class="headline__footer">USEFUL INFORMATION</p>
			<div class="useful_information">
				
				<a href="#" class="text_black__footer">
					Sales terms
				</a>
				<a href="#" class="text_black__footer">
					Customer care
				</a>
				<a href="#" class="text_black__footer">
					Delivery
				</a>
				<a href="#" class="text_black__footer">
					Architect accounts
				</a>
				<a href="#" class="text_black__footer">
					Careers
				</a>
				<a href="#" class="text_black__footer">
					Exchanges & returns
				</a>

			</div>
			</div>

			<div class="lets_stay_in_touch">
				<p class="headline__footer">LET'S STAY IN TOUCH</p>
				<p class="text__st">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
				<div class="input__button">
				<input class="input" type="text" placeholder="your email address"><i class="fab fa-telegram-plane"></i>
				</div>
			</div>
			</div>
			<div class="info__footer">
				<p class="text__footer">&copy; Copyright - INTERIOR 2016. All Rights Reserved.</p>
				<div class="social-links">
					<a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
					<a href="#" class="social-link"><i class="fab fa-twitter-square"></i></a>
					<a href="#" class="social-link"><i class="fab fa-google-plus-square"></i></a>
					<a href="#" class="social-link">
					<i class="fab fa-pinterest-square"></i></a>
				</div>
				<p class="text__footer">Terms & Conditions  /  Privacy policy & Cookies</p>
			</div>		
		</footer>
	</div>
</body>
</html>